:root {
    --primary-color: #194d40;
    --secondary-color: #006064;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* change body color once header is established*/
body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("../../assets/images/hero-bg.jpg");
    background-size: cover;   
}

/* Header Sytle Starts*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: white;
}

header h1 {
    color: white;
    margin: 55px 10px;    
}

header nav {
    margin: 70px 10px
}

header nav ul {
    display: flex;
    
    list-style: none;
}

header nav ul li a {
    padding: 60px
}
/* Header style ends */

/*Hero style starts*/
.hero {
    display: flex;

}



/* About Me style begins*/

h2 {
    font-size: 60px;
    margin: 40px 0px;

}

.about-me-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-me-flex h2 {
    padding: 10px 10px 0 50px;
    border-right: 5px solid red;
    line-height: 2.5;
}

.about-me-flex p {
    text-align: left;
    padding: 50px 0px;
}

/* About Me style ends */

/*Work style begins*/

.container {
    display: flex;
}

.container h2 {
    padding: 10px 10px 0 175px;
    border-right: 5px solid red;
    line-height: 2.5;
}

 .row {
    display: flex;
  }

  .first-row {
    text-align: center;
  }

    
 
  .first-row img {
    margin-left: 0%; 
    padding: 10px;

  }

  .first-row div {
    position: absolute;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    color: orange;
    backdrop-filter: blur(14px) brightness(80%);

  }
 .second-row img {
     margin-left: 0%;
     padding: 0 0 0 10px;
 }

 .second-row p {
    position: absolute;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    color: orange;
    backdrop-filter: blur(14px) brightness(80%);

 }
 .second-image {
    position: absolute;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    color: orange;
    backdrop-filter: blur(14px) brightness(80%);

 }


/*Work style ends*/

.contact-me-flex {
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contact-me-flex h2 {
    padding: 10px 10px 0 0px;
    border-right: 5px solid red;
    line-height: 2.5;

}

/*Footer styles begin*/

footer {
    background: var(--primary-color);
    padding: 50px 35px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @media screen and (max-width: 980px) {
    header {
    padding-bottom: 0;
      justify-content: center;
      position: relative;
    }

    h2 {
        position: center;
        
    }

    .about-me-flex h2 {
        border-right: none;
        border-bottom: 5px solid red;
        margin-inline: auto;
        padding: 5px;
        line-height: 1;

    }

    .about-me-flex p {
        text-align: center;
        margin-inline: auto;
    }


    .container {
        flex-direction: column;
    }
    .container h2 {
        border-right: none;
        border-bottom: 5px solid red;
        margin-inline: auto;
        padding: 5px;
        line-height: 1;
    }

    
    .contact-me-flex {
    flex-direction: column;
    }



.contact-me-flex h2{
    border-right: none;
    border-bottom: 5px solid red;
    margin-inline: auto;
    padding: 5px;
    line-height: 1;
}

.contact-me-flex p {
    margin-inline: auto;
}