:root {
    --primary-color: #194d40;
    --secondary-color: #006064;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body*/
body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("../../assets/images/hero-bg.jpg");
    background-size: cover;   
}

/* Header Sytle Starts*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: linear-gradient(#194d40,transparent);

}

header h1 {
    color: white;
    margin: 55px 10px;   
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.973); 
    font-weight: normal;
}

header a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.973); 
}

header nav {
    margin: 70px 10px
}

header nav ul {
    display: flex;
    
    list-style: none;
}

header nav ul li a {
    padding: 60px
}
/* Header style ends */

/*Hero style starts*/
.hero {
    display: flex;
}

.hero img {
    background-color: white;
    box-shadow: 0 4px 47px 0 rgb(0 0 0 / 85%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    opacity: 0.5;
    margin: 0px 0px 0px 12px;
    -webkit-transform: rotate(-29deg);
            transform: rotate(-29deg);
    border-bottom: 52px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-top: 5px solid white;

}
/*Hero style ends*/

/*Establishes base styles to all h2*/
h2 {
    font-size: 60px;
    margin: 40px 0px;
    font-weight: normal;
    text-shadow: 0 0 10px rgba(91, 180, 118, 0.973); 
    text-shadow: 0 0 10px rgb(3 80 31 / 85%);

}

/* About Me style begins*/

.about-me-flex {
    display: flex;
}

.about-me-flex h2 {
    padding: 10px 10px 0 157px;
    border-right: 3px solid var(--secondary-color);
    line-height: 1.5;
}

.about-me-flex p {
    text-align: left;
    padding: 50px 0px 50px 10px;
    font-weight: 100;
}

/* About Me style ends */

/*Work style begins*/

.container {
    display: flex;
}

.container h2 {
    padding: 10px 10px 0 175px;
    border-right: 3px solid var(--secondary-color);
    line-height: 2.5;
}

 .row {
    display: flex;
  }

  .first-row {
    text-align: center;
  }

  .container img:hover {

    box-shadow: 0 4px 47px 0 rgb(0 0 0 / 85%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }
  
  .first-row img {
    margin-left: 0%; 
    border-radius: 30px;
    padding: 10px;
    

  }
 
  .first-row div {
    position: absolute;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    color: var(--secondary-color);
    backdrop-filter: blur(3px) brightness(80%);
    border-radius: 6px;

  }
 .second-row img {
     margin-left: 0%;
     border-radius: 30px;
     padding: 0 0 0 10px;
     max-height: 400px
 }

 .second-row p {
    position: absolute;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    color:  var(--secondary-color);
    backdrop-filter: blur(3px) brightness(80%);
    border-radius: 6px;

 }
 .second-image {
    position: absolute;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    color: var(--secondary-color);
    backdrop-filter: blur(3px) brightness(80%);
    border-radius: 6px;

 }
/*Work style ends*/

/*Contact me style begins*/

.contact-me-flex {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    
}

.contact-me-flex h2 {
    padding: 10px 10px 0 5px;
    border-right: 3px solid var(--secondary-color);
    line-height: 2.5;

}

.contact-me-flex ul {
    display: flex;
    list-style: none;
    margin: 100px 0 0 0;
   
}

.contact-me-flex ul li {
    padding: 20px;
    margin: auto;
    font-weight:800;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    font-size: 20px;
    text-decoration: underline;
}
.contact-me-flex a {
    text-decoration: none;
    text-shadow: 0 0 10px rgb(3 80 31 / 85%);; 
}

/*Contact me style end*/

/*Footer styles begin*/

  footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(360deg,#194d40,transparent);
  }
    footer a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.973); 
    
    }
    
    footer nav {
        margin: 70px 10px
    }
    
    footer nav ul {
        display: flex;
        
        list-style: none;
    }
    
    footer nav ul li a {
        padding: 60px
    }
/*Footer style ends*/

/*Media query 980px sytle begins*/

  @media screen and (max-width: 980px) {
    header {
    padding-bottom: 0;
      justify-content: center;
      position: relative;
    }

    .about-me-flex {
        flex-direction: column;
    }

    .about-me-flex h2 {
        text-align: center;
        border-right: none;
        border-bottom: 5px solid var(--secondary-color);
        margin-inline: auto;
        line-height: 1;
        padding: 0;

    }

    .about-me-flex p {
        text-align: center;
        margin-inline: auto;
    }


    .container {
        flex-direction: column;
    }
    .container h2 {
        border-right: none;
        border-bottom: 5px solid var(--secondary-color);
        margin-inline: auto;
        padding: 5px;
        line-height: 1;
    }

    
    .contact-me-flex {
    flex-direction: column;
    }



.contact-me-flex h2{
    border-right: none;
    border-bottom: 5px solid var(--secondary-color);
    margin-inline: auto;
    padding: 5px;
    line-height: 1;
}

.contact-me-flex p {
    margin-inline: auto;
}

  }
/*Media query 980px sytle ends*/

/*Media query 768px sytle begins*/
@media screen and (max-width: 768px) {

h2 {
    font-size: 50px;
}
.hero img {
    margin: auto;
    -webkit-transform: none;
            transform: none;
}

}

/*Media query 768px sytle ends*/

/*Media query 575px sytle begins*/

@media screen and (max-width: 575px) {

    h2 {
        font-size: 40px;
    }

    header nav ul {
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    }


    .hero img {
        margin: auto;
        -webkit-transform: none;
                transform: none;
    }

    .contact-me-flex ul li {
        text-align: center;
        padding: 5px;
    }


    footer nav ul { 
        align-items: center;
        align-content: center;
        justify-content: space-around;
        flex-wrap: wrap; 
    }

}

/*Media query 575px sytle ends*/